/*
 Theme Name:   Schon Child
 Template:     schon
 Text Domain:  schon
*/
@import "../../../schon/style.css";
@import "./_button";
@import "./_navbar";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
.product .accordion-box {
  margin-top: 0;
}

#actionbar,
#tcv-main-nav {
  background-color: #fff !important;
}

.grid .tc-product-grid {
  border-left: 1px solid;
}

#page-title-bar.light .titlebar-overlay {
  background-color: transparent;
}

#actionbar > .container {
  border-bottom: 1px solid #f8f8f8;
}

.woocommerce-product-gallery__nav {
  &.slick-slider {
    width: 50px;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50px;
    bottom: 50px;
  }

  .slick-arrow {
    left: 0 !important;
    right: 0 !important;

    &.slick-next {
      bottom: 0 !important;
    }

    &.slick-prev {
      top: 0 !important;
    }
  }
}

.woocommerce div.product div.images img {
  border-width: 0px !important;
  border-image-width: 0px;
}

.woocommerce-product-gallery__wrapper .slick-list {
  background: #fff;
  border: 1px solid #ddd;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70px;
    background: rgba(0,0,0,0.1);
  }
}

#actionbar .search-form .form-group .woocommerce-product-search-categories-filter,
#actionbar .staticblocks-section .staticblock-field,
#actionbar .staticblocks-section .staticblock-field input,
#actionbar .submit-field,
#actionbar a,
#actionbar-menu a,
#lang_sel a.lang_sel_sel,
.staticblocks-section #lang_sel_list.lang_sel_list_horizontal li a {
  color: #424242;
}

#header-wrap .staticblocks-section .staticblock-field {
  margin: 10px 20px;
}

.intro {
  font-weight: 500 !important;
}

.remaining {
  span {
    padding: 10px;
    background: red;
    color: #fff;
  }
}

#primary-menu {
  font-size: 1.35em;
  padding: 15px;
}

#secondary .widget-title {
  font-size: 1.1em;
  margin-bottom: 20px;
}

#secondary .widget ul li {
  margin: 0.5em 0;
}

.woocommerce ul.products .slick-slide li.product {
  width: 100%;
  float: none;
}

#page ul.products li.product .woocommerce-product-image-container:hover .woocommerce-product-image-wrap:before {
  background: transparent !important;
}

.grid .single-product-description {
  display: none;
}

.grid .woocommerce-product-image-container .price,
.grid .woocommerce-product-image-container .woocommerce-loop-product__title {
  text-align: center;
}

.grid li.product {
  position: relative;
}

.blog-posts-container .post-item {
  box-shadow: none;
}

#top-post h1,
.post-item .entry-title a {
  font-weight: 500;
  color: #6d6d6d;
}

.slick-arrow:before {
  color: gray !important;
}

#top-post h1 {
  font-size: 2.6em;
}

#top-post {
  margin-bottom: 5em;
}

#top-post p {
  font-size: 1.3em;
}

.product-stock-info {
  padding: 5px;
}

.team-member h2 {
  font-size: 2.3em;

  &::after {
    content: '';
    width: 25%;
    border-bottom: 1px solid #d1d1d1;
    display: block;
    margin: 20px auto;
  }
}

.team-member h3 {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 2em;
}

.input-group.form-email-subscribe .submit-email-subscribe {
  /* height: 18px; */
  margin: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#section-bottom {
  min-height: 250px;
}

.team-member {
  margin-top: 2em;
}

.team-member-image .vc_single_image-wrapper {
  width: 150px;
  height: 150px;
}

.team-member-image .vc_single_image-wrapper img {
  height: 100%;
  width: auto;
}

.team-member {
  text-align: center;
}

.team-member p {
  text-align: justify;
  font-size: 1.1em;
}

.post-item .more-para {
  font-weight: 600;
}

#top-post,
.post-item p {
  font-size: 1.1em;
  font-weight: 300;
  color: #353535;
}

#page-title-bar .entry-title:after {
  content: '';
  width: 70px;
  display: block;
  border-bottom: 1px solid;
  margin: 10px auto;
}

#page ul.products li.product .add-to-cart-buttons-container {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
}

#primary.tc-product-grid {
  border-left: 1px solid #cecece;
}

#page-title-bar .entry-title,
#page-title-bar .entry-title:after {
  color: #fff;
  text-shadow: 1px 1px 5px #777777;
  font-weight: 500;
}

.products.list .product {
  position: relative;
}

.products.list .gridlist-buttonwrap {
  position: absolute;
  right: 0;
  top: 0;
}

.woocommerce-product-bracket {
  display: none;
  position: absolute;
  top: -10px;
  height: 100%;
  left: -100px;
  z-index: 2;
  right: -10px;
  bottom: -10px;
  overflow-y: hidden;
  background: #FFF;
  box-shadow: 2px 1px 10px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select,
.input-text,
.form-control {
  border-radius: 5px;
}

.xoo-wsc-container {
  width: 400px;
}

.xoo-wsc-container {
  right: -400px;
}

.delivery-note-header {
  margin-bottom: 25px;
}

.banner {
  position: relative;
}

p.stock {
  margin-top: 25px;
}

.delivery-note,
.product-stock-info {
  padding: 8px;
  background: #f5fba3;
}

.delivery-note {
  text-align: center;
}

.banner,
.banner h1,
.banner h2,
.banner h3,
.banner h4 {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(76, 76, 76, 0.5);
}

.swatchinput {
  width: 50px !important;
}

.swatchinput label {
  width: 100% !important;
  height: 45px !important;
}

#page #respond input#submit,
#page button.button,
#page input.button,
#page input[type=submit],
.btn,
.button,
.woocommerce a.button {
  border-radius: 5px;
}

ul.products.list li.product div[itemprop="description"],
ul.products.list li.product .price {
  float: none;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 35%;
}

.woocommerce.single-product-background-layout_1 div.product div.summary .summary-content {
  background: transparent;
  padding: 10px 15px;
}

.woocommerce-product-bracket .add-to-cart-buttons-container {
  top: 0;
  left: 10px;
  right: 10px;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  float: left;
  width: 60%;
}

#product-breadcrumbs {
  padding: 15px 0;
}

.single-product-wishlist-container {
  margin-top: 15px;
}

.single-product-wishlist-container a {
  font-size: 1em;
}

.input-group .minus .btn,
.input-group .plus .btn {
  border-radius: 0;
  padding: 10px 15px !important;
}
/* .single-product-header-wrapper .owl-carousel .owl-item {
    float: left;
    width: 70px !important;
    height: 70px !important;
    overflow: hidden;
}
.single-product-header-wrapper .owl-carousel .owl-item > li{
    height: 100%;
}
.single-product-header-wrapper .owl-carousel .owl-item > li > img{
    height: 100% !important;
    width: auto !important;
}

.single-product-header .owl-wrapper{
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: auto !important;
}
 */
.single-product-header-wrapper .product_title.entry-title {
  line-height: 1.5;
}

#breadcrumb-wrap .woocommerce-breadcrumb li {
  color: #e62129;
  font-weight: 600;
}

#breadcrumb-wrap .woocommerce-breadcrumb li a,
#breadcrumb-wrap .woocommerce-breadcrumb li:before {
  color: #757575;
  font-weight: 500;
}

.product-more-description h2,
.product-specification h2,
.related.products h2,
.up-sells h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 30px 0;
  font-weight: 600;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.warranty-section {
  margin-top: 20px;
}

.product-more-description,
.product-specification {
  text-align: justify;
  margin-top: 25px;
}

.product-more-description h2,
.related.products h2,
.up-sells h2 {
  text-align: center;
}

.product-more-description h2:after,
.related.products h2:after,
.up-sells h2:after {
  content: '';
  display: block;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-bottom: 1px solid #e62129;
}

.form-group.form-group-add-to-cart > div:nth-child(1) {
  padding-left: 0;
  padding-right: 5px;
}

.form-group.form-group-add-to-cart > div:nth-child(2) {
  padding-right: 0;
  padding-left: 5px;
}

.swatchinput {
  float: right;
}

.reset_variations {
  display: none !important;
  float: right;
  visibility: hidden !important;
}

.single_add_to_cart_button {
  width: 100%;
  padding: 10px 28px !important;
  margin: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.input-qty {
  text-align: center;
}

#page div.product div.summary .price {
  font-size: 1.4em;
}

.woocommerce div.product div.summary {
  margin: 0 0 15px;
}

.woocommerce-product-bracket .brace-product-space {
  height: 90%;
  border-left: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

#page ul.products li.product .add-to-cart-buttons-container.buttons-3 .add-to-wishlist,
#page ul.products li.product .add-to-cart-buttons-container.buttons-3 .added_to_cart,
#page ul.products li.product .add-to-cart-buttons-container.buttons-3 .yith-wcqv-button,
#page ul.products li.product .add-to-cart-buttons-container.buttons-3 a.add-to-cart-button,
.woocommerce-product-bracket .add-to-cart-buttons-container .btn {
  width: 100%;
  font-size: 0.8em;
}

.tc-history h2,
.tc-history h2 strong {
  text-transform: inherit;
  text-align: justify;
  font-weight: 500;
  padding: 10px;
}

.product_meta {
  display: none;
}

.post-item {
  box-shadow: 2px 1px 10px #ccc;
  margin-bottom: 20px;
}

.entry-title-container {
  padding: 20px;
}

.menu-item-has-children.depth-1 {
  width: 28%;
  height: 100%;
}

#popup-subscribe > .wpb_column > .vc_column-inner > .wpb_wrapper {
  border: 2px solid #000;
  margin: -15px;
}
/* image full */
.wpb_single_image .wpb_wrapper,
.wpb_single_image .wpb_wrapper .vc_single_image-wrapper,
.wpb_single_image .wpb_wrapper .vc_single_image-wrapper img {
  width: 100%;
}

div.sub-menu-wrap.depth-1 li a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.submenu-container-bs {
  width: 800px;
}

.entry-title-container h2.entry-title {
  font-size: 1.5em;
  margin-top: 10px;
}

.menu-item-has-children.depth-1 > a {
  text-transform: capitalize !important;
  font-weight: bolder !important;
}

.menu-item-has-children.depth-1 > a:after {
  background: none !important;
}

.entry-title-container h5 {
  margin-top: 0;
}

#modalAddress .modal-header {
  border-bottom: none;
}

#popup-subscribe-body {
  padding-top: 30px;
}

#popup-subscribe-body .mc4wp-form-fields {
  padding-left: 15%;
  padding-right: 15%;
}

.woocommerce div.product .product_title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 50px;
}

.product-specification {
  font-size: 1.1em;
}

.add-to-compare,
.add-to-wishlist,
.woocommerce div.product .product_title {
  color: #585858;
  margin: 0 5px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: none;
}

.woocommerce-Price-amount {
  font-weight: 500;
  margin: 5px;
}

#customer_login {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.my_account_login-social-buttons .btn {
  width: 100%;
}

.or-register,
.woocommerce-form-login .input-group,
.woocommerce-form-register .input-group {
  margin-bottom: 20px;
}

.woocommerce-form-login .input-group input,
.woocommerce-form-register .input-group input {
  padding-left: 0;
}

h2.registration-form-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.6em;
  text-transform: uppercase;
}

.related.products > .products .product .price,
.upsells.products > .products .product .price {
  margin-top: 0 !important;
  text-align: center;
}

.related.products > .products .product .price del,
.upsells.products > .products .product .price del {
  display: block;
}

.btn.btn-register {
  margin: 0;
  width: 100%;
  text-align: center;
}

.woocommerce-form-login .input-group .form-control,
.woocommerce-form-login .input-group .input-group-addon,
.woocommerce-form-register .input-group .form-control,
.woocommerce-form-register .input-group .input-group-addon {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  background: transparent;
  box-shadow: none !important;
}

.float-field-wrapper input,
.float-field-wrapper input:focus,
.float-field-wrapper select,
.float-field-wrapper select:focus,
.float-field-wrapper textarea,
.float-field-wrapper textarea:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
  height: 40px;
}

.float-field-wrapper textarea,
.float-field-wrapper textarea:focus {
  height: 100px;
}

.vc_contact-form-7 input[type=submit] {
  text-align: center;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

#page-title-bar .entry-subtitle {
  text-transform: none;
  margin-bottom: 1em;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
  display: block;
  margin-left: auto;
  max-width: 600px;
  line-height: 1.5;
  margin-right: auto;
  font-weight: 400;
}

#popup-subscribe-body .mc4wp-form-fields > p {
  float: left;
  margin-top: 0;
}

#popup-subscribe-body .mc4wp-form-fields > p:nth-child(1) {
  width: 70%;
}

#popup-subscribe-body .mc4wp-form-fields > p:nth-child(2) {
  width: 30%;
}

#popup-subscribe-body .mc4wp-form-fields > p:nth-child(2) > input {
  box-sizing: content-box;
  height: 30px;
  background: #000;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.popup-subscribe-jumbotext {
  font-size: 24px;
  position: relative;
}

.popup-subscribe-jumbotext:after {
  opacity: 0.5;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 19px;
  background: red;
  z-index: -1;
}

#popup-subscribe-body .mc4wp-form-fields > p > input {
  border-radius: 0;
  width: 100%;
  border: 2px solid #000;
  box-shadow: none;
}

#page ul.products li.product .add-to-cart-buttons-container a {
  position: initial;
}

#page ul.products li.product .add-to-cart-buttons-container {
  padding: 15px 1px;
}

.header_layout_2 #primary-menu > li > a {
  font-size: smaller;
  text-transform: capitalize;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#footer-widgets-row-1 {
  background-color: transparent;
}

.product-attribute-item {
  margin-bottom: 5px;
}

.product-attribute-item .__title {
  font-weight: 700;
}

ul.products.grid li.product .gridlist-buttonwrap {
  display: block;
}

ul.products.grid li.product .gridlist-buttonwrap {
  display: block;
}

ul.products.grid li.product .add-to-wishlist,
ul.products.grid li.product .add_to_cart_button,
ul.products.grid li.product .yith-wcqv-button {
  display: none;
}

ul.products.grid li.product .remaining {
  text-align: center;
  color: red;
}

.mc4wp-form-basic input[type=email] {
  max-width: unset;
}

#page .product .price,
#yith-quick-view-modal .product .price,
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-weight: 500;
}

#primary-navigation-menu-wrap {
  float: left;
  border-style: none !important;
  padding-top: 15px;
}

.strikeline {
  text-align: center;
  position: relative;
}

.strikeline:after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #cfcfcf;
  right: -5%;
  width: 45%;
  top: 10px;
}

.strikeline:before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #cfcfcf;
  left: -5%;
  width: 45%;
  top: 10px;
}

.my_account_login-social-buttons {
  border-bottom: 0;
}

.accordion-box h1 {
  font-size: 1.7em;
  font-weight: 600;
}

.accordion-box {
  color: #363636;
  margin: 100px auto 50px;
  max-width: 960px;
}

.accordion-box .accordion {
  padding-bottom: 10px;
}

.accordion-box .accordion div.tab {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid #363636;
  outline: none;
  background: none;
  font-size: 16px !important;
  line-height: 21px !important;
  padding: 7px 0;
  color: #363636;
}

.accordion-box .accordion.active div.tab:after {
  content: "\2796";
}

.accordion-box .accordion.active div.panel {
  opacity: 1;
  max-height: 500px;
}

.accordion-box .accordion div.tab:after {
  content: "\02795";
  font-size: 12px;
  color: #565458;
  float: left;
  margin-right: 10px;
}

.accordion-box .accordion div.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  padding: 5px 20px 0;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.blog #page-title-bar {
  display: none;
}

.inner-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li button:before {
  font-size: 12px;
}
@media (min-width: 1500px) {
  .container,
  .container-small {
    width: 1440px;
    max-width: 1470px;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 30%;
  }
}
@media (min-width: 1120px) {
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 35%;
  }

  .product-wrapper .product-detail {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:480px) {
  #pwp-notification-button {
    display: none;
  }

  .tc-address-address-mobile {
    display: none;
  }
}
@media(min-width:767px) {
  #sidebar-trigger-responsive {
    display: none;
  }

  #customer_login .register-panel {
    border-left: 1px solid #cdcdcd;
  }
}
@media(max-width:767px) {
  .mc4wp-form-fields .email-subscribe {
    width: 100%;
  }

  .navbar-toggle {
    float: left;
    margin-right: 0;
  }

  .footer-contact-form h4 {
    font-size: 1em;
    text-align: center;
  }

  #header-wrap .site-brand {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }

  .nav.navbar-right {
    font-size: 0.8em;
  }

  #sidebar-trigger-responsive {
    float: right;
    padding-top: 20px;
  }

  .site-title img {
    width: 100% !important;
    height: auto !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 0;
  }
}
@media(max-width:480px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  #tcv-main-nav > .container {
    padding: 0 15px;
  }

  .navbar-default .navbar-collapse {
    height: auto !important;
  }

  .blog-posts-container.inner-container.clearfix {
    padding: 5px;
    font-size: 0.4em;
  }

  .col-xs-4.blog-item {
    padding: 0 5px;
  }

  #footer-widgets-row-1 {
    display: none;
  }

  #main {
    padding: 10px;
  }

  #footer-widgets-row-2 {
    text-align: center;
  }

  #actionbar {
    display: block !important;
    background-color: rgb(239, 58, 64);
  }

  #actionbar .actionbar-fields-left {
    margin-left: 0;
  }

  #actionbar > div > div.staticblocks-section.actionbar-fields-left > div:nth-child(2) {
    float: right;
  }

  #actionbar .container {
    padding: 0;
  }

  #actionbar .staticblocks-section.actionbar-fields-left div:nth-child(3),
  .actionbar-fields-right {
    display: none;
  }

  .tc-address-address {
    display: none;
  }

  .related.products,
  .up-sells {
    padding-left: 15px;
    padding-right: 15px;
  }

  .woocommerce span.onsale:first-child,
  .woocommerce ul.products li.product .onsale:first-child {
    font-size: 0.6em;
    font-weight: 800;
  }

  .actionbar-fields-left {
    width: 100%;
  }

  #primary:not(.tc-product-grid) {
    padding-left: 0;
    padding-right: 0;
  }

  .wc-tabs li,
  .wc-tabs li a {
    width: 100%;
    text-align: left;
  }

  .tabs.wc-tabs {
    padding: 0 !important;
  }

  .wc-tabs li a {
    display: block;
    border-top: 1px #ccc solid;
  }

  #pwp-notification-button {
    z-index: 100;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: none;
  }

  .wc-tab {
    text-transform: initial;
    text-align: justify;
    padding: 10px 10px 50px;
  }

  .wc-tab h2 {
    display: none;
  }

  .product_title {
    font-size: 1.5em;
  }

  .cart.form-inline em {
    font-weight: 500;
    font-size: 0.8em;
  }

  .add-to-compare {
    float: right;
  }

  .wc-accordion ul {
    list-style-type: none;
  }

  .wc-accordion ul li a {
    padding: 10px;
    font-weight: 600;
    font-size: 1.5em;
  }

  .is-sticky .primary-menu-icon .icon {
    font-size: 1.2em;
  }

  #header-wrap.is-sticky #primary-navigation .navbar-brand {
    padding-top: 13px;
    padding-bottom: 15px;
    width: 30%;
    padding-left: 0;
    padding-right: 0;
  }

  .is-sticky .primary-menu-icons {
    position: absolute;
    top: 0;
    left: 33%;
  }

  .is-sticky .responsive-navigation-triggers {
    padding-right: 0;
  }

  #header-wrap.is-sticky .responsive-navigation-triggers .navbar-toggle {
    margin-top: 10px;
  }

  .summary-content {
    padding: 5px !important;
  }

  button.single_add_to_cart_button.btn.btn-lg.btn-primary {
    margin: 0 !important;
    width: 100% !important;
    padding: 10px !important;
  }

  .single-product-header-wrapper {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
  }

  .single-product-header {
    padding-right: 5px;
    padding-left: 5px;
  }

  .woocommerce div.product .product_title {
    font-size: 1.5em;
  }

  #page .product .price,
  #yith-quick-view-modal .product .price,
  .woocommerce ul.products li.product .price,
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    margin-top: 10px;
  }

  .single-product-description {
    display: none;
  }

  .single_add_to_cart_button {
    font-size: small !important;
  }

  #page div.product div.summary .price {
    font-size: 1.3em;
  }

  #page div.product div.summary .price > span,
  .woocommerce div.product .product_title {
    margin: 0;
  }

  .single-product-wishlist-container a {
    margin-right: 0;
  }

  .single-product-header-wrapper .owl-carousel .owl-item {
    width: 50px !important;
    height: 50px !important;
  }

  .woocommerce div.product div.images .flex-control-thumbs .owl-item li {
    padding: 0;
  }

  #page #respond input#submit,
  #page button.button,
  #page input.button,
  #page input[type=submit],
  .btn,
  .button,
  .woocommerce a.button {
    font-size: 1.2rem;
  }

  .footer-contact-form {
    padding: 0 15px;
  }

  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    float: none;
    width: 100%;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 100%;
    display: block;
  }

  #main > .product-wrapper {
    padding: 15px;
  }

  .col-sm-6 > .product-more-description,
  div#comments {
    padding: 0;
  }

  ul > li .woocommerce-Price-amount {
    font-size: 15px;
  }

  ul > li .remaining {
    text-align: center;
  }

  p.stock {
    margin-top: 10px;
    text-align: center;
  }

  h2.woocommerce-loop-product__title {
    font-size: 13px !important;
  }

  #secondary .secondary-heading {
    font-size: 13px !important;
    text-align: left;
  }

  .woocommerce-widget-layered-nav > .widget-title,
  .woocommerce-widget-layered-nav-list {
    font-size: 0.9em;
  }

  #secondary {
    padding-right: 15px;
  }
}
@media(max-width:360px) {
  #actionbar > div > div.staticblocks-section.actionbar-fields-left > div:nth-child(1) {
    margin-left: 10px;
  }

  #actionbar > div > div.staticblocks-section.actionbar-fields-left > div:nth-child(2) {
    margin-right: 10px;
  }

  #wh-widget-send-button {
    display: none;
  }
}
@media(max-width:320px) {
  .actionbar-fields-left {
    font-size: x-small;
  }

  .is-sticky .primary-menu-icon .icon {
    font-size: 0.9em;
  }

  #header-wrap.is-sticky .responsive-navigation-triggers .navbar-toggle {
    margin-right: 5px;
    border: none;
  }
}
