#masthead{background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:center center;}.sampe-typography-text{font-family:"Source Sans Pro",Arial, Helvetica, sans-serif;font-size:14px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .sampe-typography-text{opacity: 0;}.ie.wf-loading .sampe-typography-text{visibility: hidden;}#primary-menu a,#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a{font-family:Montserrat,Arial, Helvetica, sans-serif;font-size:15px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading #primary-menu a,.wf-loading #primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,.wf-loading #primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a{opacity: 0;}.ie.wf-loading #primary-menu a,.ie.wf-loading #primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,.ie.wf-loading #primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a{visibility: hidden;}.footer-widgets-row .widget-title{font-size:16px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .footer-widgets-row .widget-title{opacity: 0;}.ie.wf-loading .footer-widgets-row .widget-title{visibility: hidden;}#secondary .widget-title{font-size:22px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading #secondary .widget-title{opacity: 0;}.ie.wf-loading #secondary .widget-title{visibility: hidden;}h1,.h1{font-size:40px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,.wf-loading .h1{opacity: 0;}.ie.wf-loading h1,.ie.wf-loading .h1{visibility: hidden;}h2,.h2{font-size:28px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h2,.wf-loading .h2{opacity: 0;}.ie.wf-loading h2,.ie.wf-loading .h2{visibility: hidden;}h3,.h3{font-size:22px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h3,.wf-loading .h3{opacity: 0;}.ie.wf-loading h3,.ie.wf-loading .h3{visibility: hidden;}h4,.h4{font-size:16px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h4,.wf-loading .h4{opacity: 0;}.ie.wf-loading h4,.ie.wf-loading .h4{visibility: hidden;}h5,.h5{font-size:14px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h5,.wf-loading .h5{opacity: 0;}.ie.wf-loading h5,.ie.wf-loading .h5{visibility: hidden;}h6,.h6{font-size:12px;opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h6,.wf-loading .h6{opacity: 0;}.ie.wf-loading h6,.ie.wf-loading .h6{visibility: hidden;}#page{background-color:#ffffff;}
					body,
					a,
					#actionbar a:hover,
					#actionbar a:focus,
					#actionbar a:active,
					#actionbar-menu a:hover,
					#actionbar-menu a:focus,
					#actionbar-menu a:active,
					.search-fullpage-form-wrapper .submit-field,
					.close-search-fullpage-trigger,
					.mini-cart-header .cart_list .mini_cart_item_quantity,
					.mini-cart-header .cart_list .mini_cart_item_name,
					.mini-cart-header .total .subtotal-label,
					#page ul.products li.product .add-to-cart-buttons-container a,
					#page ul.products li.product .add-to-cart-buttons-container a,
					#page ul.products li.product .add-to-cart-buttons-container a,
					.yith-woocompare-widget ul.products-list li a.remove:before,
					.woocommerce div.product form.cart .variations label,
					.woocommerce div.product .woocommerce-tabs ul.tabs li a,
					nav.schon-pagination ul li a,
					nav.schon-pagination ul li span,
					.woocommerce nav.woocommerce-pagination ul li a,
					.woocommerce nav.woocommerce-pagination ul li span,
					nav.schon-pagination ul li a:hover,
					nav.schon-pagination ul li span.current,
					.woocommerce nav.woocommerce-pagination ul li a:hover,
					.woocommerce nav.woocommerce-pagination ul li span.curren,
					.woocommerce div.product form.cart .variations label .swatchtitlelabel,
					.woocommerce div.product form.cart .variations .label .swatchtitlelabel,
					#page ul.products li.product h3,
					.schon-title-wrap .schon-title-subtitle{color:#757575;}
					.mini-cart-header .mini-cart-icon a span,
					#page .widget_price_filter .ui-slider .ui-slider-range,
					.images .thumbnails.owl-theme .owl-controls .owl-page,
					.images .thumbnails.owl-theme .owl-controls .owl-buttons div,
					.blog-post-date-badge .entry-header .entry-meta span.posted-on a,
					.schon-team-member .socials-wrap a{background-color:#757575;}
					#page .widget_price_filter .ui-slider .ui-slider-handle,
					nav.schon-pagination ul li a,
					nav.schon-pagination ul li span,
					.woocommerce nav.woocommerce-pagination ul li a,
					.woocommerce nav.woocommerce-pagination ul li span,
					.schon-owl-theme .owl-theme .owl-buttons div,
					.widget .tagcloud a{border-color:#757575;}
				#search-fullpage-wrap,
				.search-fullpage-form-wrapper .search-field,
				#footer-widgets-row-1,
				#footer-widgets-row-2,
				#page-title-bar,
				.authorbox,
				.woocommerce.single-product-background-layout_2 div.product .single-product-header,
				.woocommerce.single-product-background-layout_3 div.product .single-product-header,
				.woocommerce.single-product-background-layout_1 div.product div.summary .summary-content,
				.woocommerce.single-product-background-layout_3 div.product .single-product-header:before,
				.woocommerce-checkout .col-2 #order_review_heading,
				.woocommerce-checkout .col-2 .woocommerce-checkout-review-order-table,
				.woocommerce-checkout .col-2 .woocommerce-checkout-review-order h3,
				.woocommerce-checkout .col-2 .wc_payment_methods.payment_methods,
				#yith-quick-view-modal div.product div.summary,
				.woocommerce .cart_totals_right_wrapper,
				.schon-owl-theme .owl-theme.navigation-top .owl-controls .owl-buttons,
				.schon-owl-theme .owl-theme.navigation-bottom .owl-controls .owl-buttons,
				.woocommerce #review_form #respond textarea,
				#add_payment_method table.cart .quantity input,
				.woocommerce-cart table.cart .quantity input,
				.woocommerce-checkout table.cart .quantity input,
				#shon-shop_active-filters,
				#schon-shop_filters-accordion-inner{background-color:#f5f5f5;}.btn-primary,
					.btn-primary.disabled:hover,
					.btn-primary.disabled:focus,
					.btn-primary.disabled:active,
					.btn-primary.disabled:active:hover,
					.btn-primary.disabled:active:focus,
					.btn-primary[disabled]:hover,
					.btn-primary[disabled]:focus,
					.btn-primary[disabled]:active,
					.btn-primary[disabled]:active:hover,
					.btn-primary[disabled]:active:focus,
					.btn-primary.btn-ghost:active:hover,
					.btn-primary.btn-ghost:active:focus,
					.schon-owl-theme .owl-theme.navigation-top .owl-controls .owl-buttons div:hover,
					.schon-owl-theme .owl-theme.navigation-bottom .owl-controls .owl-buttons div:hover{background-color:#ff6060;}.widget .tagcloud a:hover,
					.widget .tagcloud a:focus,
					.btn-primary.btn-ghost,
					.btn-primary.btn-ghost.disabled:hover,
					.btn-primary.btn-ghost.disabled:focus,
					.btn-primary.btn-ghost.disabled:active,
					.btn-primary.btn-ghost.disabled:active:hover,
					.btn-primary.btn-ghost.disabled:active:focus,
					.btn-primary.btn-ghost[disabled]:hover,
					.btn-primary.btn-ghost[disabled]:focus,
					.btn-primary.btn-ghost[disabled]:active,
					.btn-primary.btn-ghost[disabled]:active:hover,
					.btn-primary.btn-ghost[disabled]:active:focus,
					.btn-primary.btn-ghost:hover,
					.btn-primary.btn-ghost:focus,
					.btn-primary.btn-ghost:active,
					.btn-primary.btn-ghost:active:hover,
					.btn-primary.btn-ghost:active:focus{border-color:#ff6060;}h1 a:hover,
					.h1 a:hover,
					h2 a:hover,
					.h2 a:hover,
					h3 a:hover,
					.h3 a:hover,
					h4 a:hover,
					.h4 a:hover,
					.h1 a:active,
					h2 a:active,
					.h2 a:active,
					h3 a:active,
					.h3 a:active,
					h4 a:active,
					.h4 a:active,
					.h1 a:focus,
					h2 a:focus,
					.h2 a:focus,
					h3 a:focus,
					.h3 a:focus,
					h4 a:focus,
					.h4 a:focus,
					a:hover,
					a:focus,
					a:active,
					a.hover,
					a.focus,
					a.active,
					#page ul.products li.product .add-to-cart-buttons-container a:hover,
					#page ul.products li.product .add-to-cart-buttons-container a:focus,
					#page ul.products li.product .add-to-cart-buttons-container a:active,
					#page ul.products li.product .add-to-cart-buttons-container a.added,
					#page ul.products li.product .gridlist-buttonwrap a.added i,
					#page ul.products li.product h3:hover,
					ul.products.list li.product .gridlist-buttonwrap a.link:hover i,
					#breadcrumb-wrap li a:hover,
					.btn-primary.btn-ghost,
					.btn-primary.btn-ghost.disabled:hover,
					.btn-primary.btn-ghost.disabled:focus,
					.btn-primary.btn-ghost.disabled:active,
					.btn-primary.btn-ghost.disabled:active:hover,
					.btn-primary.btn-ghost.disabled:active:focus,
					.btn-primary.btn-ghost[disabled]:hover,
					.btn-primary.btn-ghost[disabled]:focus,
					.btn-primary.btn-ghost[disabled]:active,
					.btn-primary.btn-ghost[disabled]:active:hover,
					.btn-primary.btn-ghost[disabled]:active:focus,
					#page ul.products li.product .add-to-cart-buttons-container .add-to-wishlist.wishlist-added,
					#page ul.products li.product .add-to-cart-buttons-container .add-to-compare.compare-added,
					#page ul.products li.product .add-to-cart-buttons-container .add-to-compare.added:after,
					.woocommerce-MyAccount-navigation ul li.is-active a{color:#ff6060;}
					#actionbar,
					.mini-cart-header .mini-cart-icon a span,
					.btn-primary-2,
					.btn-primary-2.disabled:hover,
					.btn-primary-2.disabled:focus,
					.btn-primary-2.disabled:active,
					.btn-primary-2.disabled:active:hover,
					.btn-primary-2.disabled:active:focus,
					.btn-primary-2[disabled]:hover,
					.btn-primary-2[disabled]:focus,
					.btn-primary-2[disabled]:active,
					.btn-primary-2[disabled]:active:hover,
					.btn-primary-2[disabled]:active:focus,
					.btn-primary-2.btn-ghost:hover,
					.btn-primary-2.btn-ghost:focus,
					.btn-primary-2.btn-ghost:active,
					.btn-primary-2.btn-ghost:active:hover,
					.btn-primary-2.btn-ghost:active:focus{background-color:#2e2e2e;}
				.btn-primary-2.btn-ghost,
					.btn-primary-2.btn-ghost.disabled:hover,
					.btn-primary-2.btn-ghost.disabled:focus,
					.btn-primary-2.btn-ghost.disabled:active,
					.btn-primary-2.btn-ghost.disabled:active:hover,
					.btn-primary-2.btn-ghost.disabled:active:focus,
					.btn-primary-2.btn-ghost[disabled]:hover,
					.btn-primary-2.btn-ghost[disabled]:focus,
					.btn-primary-2.btn-ghost[disabled]:active,
					.btn-primary-2.btn-ghost[disabled]:active:hover,
					.btn-primary-2.btn-ghost[disabled]:active:focus,
					.btn-primary-2.btn-ghost:hover,
					.btn-primary-2.btn-ghost:focus,
					.btn-primary-2.btn-ghost:active,
					.btn-primary-2.btn-ghost:active:hover,
					.btn-primary-2.btn-ghost:active:focus{border-color:#2e2e2e;}
					h1,
					.h1,
					h2,
					.h2,
					h3,
					.h3,
					h4,
					.h4,
					h5,
					.h5,
					h6,
					.h6,
					h1 a,
					.h1 a,
					h2 a,
					.h2 a,
					h3 a,
					.h3 a,
					h4 a,
					.h4 a,
					h5 a,
					.h5 a,
					h6 a,
					.h6 a,
					.schon-featured-info-title,
					.search-fullpage-form-wrapper .submit-field:hover,
					.search-fullpage-form-wrapper .submit-field:focus,
					.search-fullpage-form-wrapper .submit-field:active,
					.close-search-fullpage-trigger:hover,
					.close-search-fullpage-trigger:focus,
					.close-search-fullpage-trigger:active,
					#breadcrumb-wrap li,
					#breadcrumb-wrap li a,
					.widget .widget-title,
					#page ul.product_list_widget li .amount,
					.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
					.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
					#schon-shop-steps-wrapper .step-number,
					#schon-shop-steps-wrapper .step-label,
					.schon-owl-theme .owl-theme .owl-buttons div:hover,
					#page .product .price,
					#yith-quick-view-modal .product .price,
					.mini-cart-header .cart_list .mini_cart_item_price,
					.mini-cart-header .total .subtotal-value,
					.btn-primary-2.btn-ghost,
					.btn-primary-2.btn-ghost.disabled:hover,
					.btn-primary-2.btn-ghost.disabled:focus,
					.btn-primary-2.btn-ghost.disabled:active,
					.btn-primary-2.btn-ghost.disabled:active:hover,
					.btn-primary-2.btn-ghost.disabled:active:focus,
					.btn-primary-2.btn-ghost[disabled]:hover,
					.btn-primary-2.btn-ghost[disabled]:focus,
					.btn-primary-2.btn-ghost[disabled]:active,
					.btn-primary-2.btn-ghost[disabled]:active:hover,
					.btn-primary-2.btn-ghost[disabled]:active:focus{color:#2e2e2e;}#header-wrap, #primary-navigation{background-color:#ffffff;}#actionbar{background-color:#2e2e2e;}#actionbar > .container{border-color:transparent;}#footer-widgets-row-1{background-color:#f5f5f5;}#footer-widgets-row-2{background-color:#f5f5f5;}#footer-widgets-row-1>.container{border-color:#e0e0e0;}#site-info>.container{border-color:transparent;}#site-info{background-color:#ffffff;}#secondary .widget-title{color:#2e2e2e;}#secondary{color:#757575;}#secondary a{color:#757575;}#secondary a:hover{color:#ff6060;}#page-title-bar { padding-top: 70px;}#page-title-bar { padding-bottom: 70px;}#colophon { margin-top: 50px;}#popup-box-sxzw-1 .popupally-inner-sxzw-1 .desc-sxzw,
					#popup-embedded-box-sxzw-1 .popupally-inner-sxzw-1 .desc-sxzw,
					#popup-box-sxzw-1 .popupally-inner-sxzw-1 .popupally-center-sxzw .content-sxzw input[type="submit"].submit-sxzw,
					#popup-embedded-box-sxzw-1 .popupally-inner-sxzw-1 .popupally-center-sxzw .content-sxzw input[type="submit"].submit-sxz,
					#lang_sel_list { font-family: Montserrat !important}.primary-menu-icons > div,
					#primary-menu > li > a,
					#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a {
                        font-size: 15px;
					}
				h1,
				.h1,
				h2,
				.h2,
				h3,
				.h3,
				h4,
				.h4,
				h5,
				.h5,
				h6,
				.h6,
				.schon-featured-info-title,
				.woocommerce span.onsale,
				#page ul.cart_list li .product-title,
				#page ul.product_list_widget li .product-title,
				#page .widget_recent_reviews a,
				#page ul.cart_list li a,
				#page ul.product_list_widget li a,
				.single-product-wishlist-container a,
				.woocommerce div.product .woocommerce-tabs ul.tabs li a,
				.schon-featured-banner .schon-featured-banner-badge,
				.vc_tta .vc_tta-tab>a,
				.btn,
				.button,
				ul.products.list li.product .gridlist-buttonwrap a.link
				{ font-family: Montserrat,Arial, Helvetica, sans-serif;}body { font-size: 14px}body,
				#primary-menu ul li a,
				#actionbar .staticblocks-section .staticblock-field,
				#page ul.products li.product h3,
				#page ul.products li.product .add-to-cart-buttons-container a.add-to-cart-button,
				#popup-box-sxzw-1 .popupally-inner-sxzw-1 .logo-text-sxzw,
				#popup-embedded-box-sxzw-1 .popupally-inner-sxzw-1 .logo-text-sxzw
				 { font-family: Source Sans Pro}
				#popup-box-sxzw-1 .popupally-inner-sxzw-1 .logo-text-sxzw,
				#popup-embedded-box-sxzw-1 .popupally-inner-sxzw-1 .logo-text-sxzw,
				#popup-box-sxzw-1 .popupally-inner-sxzw-1 .privacy-sxzw,
				#popup-embedded-box-sxzw-1 .popupally-inner-sxzw-1 .privacy-sxzw
				{font-family: Source Sans Pro !important}
				.btn-primary:hover,
				.btn-primary:focus,
				.btn-primary:active,
				.btn-primary:active:hover,
				.btn-primary:active:focus {
				background-color: #cc4c4c}
				.vc_tta .vc_tta-tab.vc_active>a,
				.vc_tta .vc_tta-tab>a:hover {
				color: #2e2e2e !important}
				.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
				.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
				#schon-shop-steps-wrapper .step-number,
				.vc_tta .vc_tta-tab.vc_active>a,
				.vc_tta .vc_tta-tab>a:hover,
				.schon-owl-theme .owl-theme .owl-buttons div:hover  {
				border-color: #2e2e2e !important}
				.btn-primary-2:hover,
				.btn-primary-2:focus,
				.btn-primary-2:active,
				.btn-primary-2:active:hover,
				.btn-primary-2:active:focus {
				background-color: #535353}#actionbar .staticblocks-section .staticblock-field,
					#actionbar .staticblocks-section .staticblock-field input,
					#actionbar .search-form .form-group .woocommerce-product-search-categories-filter,
					#actionbar .submit-field,
					#actionbar a,
					#actionbar-menu a,
					.staticblocks-section #lang_sel_list.lang_sel_list_horizontal li a,
					#lang_sel a.lang_sel_sel{ color: #ffffff}#actionbar .staticblocks-section .staticblock-field input,
				    #actionbar .search-form .form-group .woocommerce-product-search-categories-filter { border-color: #ffffff}#actionbar-menu li:before { background-color: #ffffff}#actionbar a:hover, #actionbar-menu a:hover, .staticblocks-section #lang_sel_list.lang_sel_list_horizontal li a:hover { color: #ff6060}#primary-menu a,
					#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a,
					.mini-cart-header .mini-cart-icon a,
					.primary-menu-icon > a
					{ color: #2e2e2e;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:after,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:after
					{ background-color: #2e2e2e;}#primary-menu a:hover,
					#primary-menu a:focus,
					#primary-menu a:active,
					#primary-menu ul li > a:hover,
					#primary-menu ul li > a:active,
					#primary-menu ul li > a:focus,
					.mini-cart-header:hover .mini-cart-icon a,
					.mini-cart-header.active .mini-cart-icon a,
					.mini-cart-header:focus .mini-cart-icon a,
					.mini-cart-header:active .mini-cart-icon a,
					.primary-menu-icon > a:hover,
					.primary-menu-icon > a:focus,
					.primary-menu-icon > a:active,
					#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:hover,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:hover
					{ color: #ff6060;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:hover:after,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:hover:after
					{ background-color: #ff6060;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a {color: #2e2e2e;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:after,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:after
					{ background-color: #2e2e2e;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:hover,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:hover,
					 #primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:focus,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:focus{color: #ff6060;}#primary-menu > li.megamenu > div.sub-menu-wrap > ul > li > a:hover:after,
					#primary-menu  li.megamenu li.megamenu-column > div.sub-menu-wrap > ul > li > a:hover:after
					{ background-color: #ff6060;}#site-info, #site-info a { color: #757575}#site-info a:hover { color: #ff6060}